* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}


.container {
	height: 100%;
}

.container .outline {
	width: 30%;
	height: 100%;
	background: #f0f0f5;
	float: left;
	box-sizing: border-box;
	padding: 1em 2em;
}

.container .outline ul {
	list-style-type: none;
}

.container .subjects {
	width: 70%;
	float: right;
	box-sizing: border-box;
	padding: 1em 2em;
}

